{% extends 'home.html' %}
  {% block body %}
  <div class="hero" style="background-image: url('../static/Alogin_home/images/bg1.jpg'); height: 635px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-md-6">
          <div class="card" style="width: 18rem; margin-top: 100px;">
            <div class="card-body">
              <h5 class="card-title">Aya Sameh</h5>
              <a href="#" class="card-link">Linked In</a>
              <a href="#" class="card-link">GitHub</a>
            </div>
          </div>
        </div>
        <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
          <div class="card" style="width: 18rem; margin-top: 100px;">
            <div class="card-body">
              <h5 class="card-title">Aya Amr</h5>
              <a href="#" class="card-link">Linked In</a>
              <a href="#" class="card-link">GitHub</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-6">
          <div class="card" style="width: 18rem; margin-top: 100px; margin-bottom: 10px;">
            <div class="card-body">
              <h5 class="card-title">Ehab Kamal</h5>
              <a href="#" class="card-link">Linked In</a>
              <a href="#" class="card-link">GitHub</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
          <div class="card" style="width: 18rem; margin-top: 100px; margin-bottom: 10px;">
            <div class="card-body">
              <h5 class="card-title">Mohamed Hashem</h5>
              <a href="#" class="card-link">Linked In</a>
              <a href="#" class="card-link">GitHub</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock  %}
