{% extends 'home.html' %}
  {% block body %}
  <div class="hero" style="background-image: url('../static/Alogin_home/images/bg1.jpg');">
    <div class="container" style = "padding-top: 20px;">
      <div class="row">
        <div class="col-sm-5 col-md-6">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="../static/Alogin_home/images/fdeveloper.png" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">Aya Sameh</h5>
              <p class="text-muted mb-4">yoyosameh2001@gmail.com</p>
              <div class="d-flex justify-content-center mb-2">
                <a href="https://github.com/ayasameh1" target = "_blank"><button type="button" class="btn btn-primary">GitHub</button></a>
                <a href="https://www.linkedin.com/in/aya-sameh-a1b332230/" target = "_blank"><button type="button" class="btn btn-outline-primary ms-1" style = "margin-left: 20px;">Linked In</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="../static/Alogin_home/images/fdeveloper.png" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">Aya Amr</h5>
              <p class="text-muted mb-4">email</p>
              <div class="d-flex justify-content-center mb-2">
                <a href="https://github.com/ayaamrr" target = "_blank"><button type="button" class="btn btn-primary">GitHub</button></a>
                <a href="https://www.linkedin.com/in/aya-amr-16b88022b/" target = "_blank"><button type="button" class="btn btn-outline-primary ms-1" style = "margin-left: 20px;">Linked In</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-6">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="../static/Alogin_home/images/developer.png" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">Ehab Kamal</h5>
              <p class="text-muted mb-4">ehabk5382@gmail.com</p>
              <div class="d-flex justify-content-center mb-2">
                <a href="https://github.com/EHVB" target = "_blank"><button type="button" class="btn btn-primary">GitHub</button></a>
                <a href="https://www.linkedin.com/in/ehab-kamal-402428137/" target = "_blank"><button type="button" class="btn btn-outline-primary ms-1" style = "margin-left: 20px;">Linked In</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="../static/Alogin_home/images/developer.png" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">Mohamed Hashem</h5>
              <p class="text-muted mb-4">email</p>
              <div class="d-flex justify-content-center mb-2">
                <a href="https://github.com/Salmoon8" target = "_blank"><button type="button" class="btn btn-primary">GitHub</button></a>
                <a href="#" target = "_blank"><button type="button" class="btn btn-outline-primary ms-1" style = "margin-left: 20px;">Linked In</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock  %}
