<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

  <link rel="stylesheet" href="../static/Alogin_home/fonts/icomoon/style.css">

  <link rel="stylesheet" href="../static/Alogin_home/css/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../static/Alogin_home/css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="../static/Alogin_home/css/style.css">
  {% block head %}
  <link rel="stylesheet" href="../static/Blogin_home/css/style2.css">
  {% endblock head %}

  <title>Welcome</title>
</head>

<body>


  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

    <div class="container">
      <div class="row align-items-center position-relative">


        <div class="site-logo">
          <a href="home" class="text-black"><span class="text-primary">Operation Rooms</a>
        </div>

        <div class="col-12">
          <nav class="site-navigation text-right ml-auto " role="navigation">

            <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
              <li><a href="home" class="nav-link">Home</a></li>
              <li class="has-children">
                <a class="nav-link">Profile</a>
                <ul class="dropdown arrow-top">
                  <li><a href="info" class="nav-link">Personal Info</a></li>
                  <li><a href="data" class="nav-link">Personal Data</a></li>
                </ul>
              </li>


              <li class="has-children">
                <a class="nav-link"> Staff</a>
                <ul class="dropdown arrow-top">
                  <li><a href="doctors" class="nav-link">Doctors</a></li>
                  <li><a href="engineers" class="nav-link">Engineers</a></li>
                  <li><a href="nurses" class="nav-link">Nurses</a></li>
                  <!-- <li><a href="#faq-section" class="nav-link">Suppliers</a></li> -->
                </ul>
              </li>
              <li><a href="patients" class="nav-link">Patients</a></li>
              <li><a href="appointments" class="nav-link">Appointments</a></li>
              <li><a href="rooms_info" class="nav-link">Rooms Info</a></li>



              <li><a href="about_us" class="nav-link">About Us</a></li>
            </ul>
          </nav>

        </div>

        <div class="toggle-button d-inline-block d-lg-none"><a href="#"
            class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

      </div>
    </div>

  </header>
  {% block body %}
  <div class="hero" style="background-image: url('../static/Alogin_home/images/bg1.jpg'); height: 635px;">
    <div class="text">
      <h1 class="font-weight-normal">Welcome!</h1>
    </div>
  </div>
  {% endblock  %}
  <script src="../static/Alogin_home/js/jquery-3.3.1.min.js"></script>
  <script src="../static/Alogin_home/js/popper.min.js"></script>
  <script src="../static/Alogin_home/js/bootstrap.min.js"></script>
  <script src="../static/Alogin_home/js/jquery.sticky.js"></script>
  <script src="../static/Alogin_home/js/main.js"></script>
</body>

</html>