{% extends 'home.html' %}
{% block head %}
  <link rel="stylesheet" href="../static/Alogin_home/css/style2.css">
{% endblock head %}
{% block body %}
<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="../static/Alogin_home/images/doctor.png"
                  alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                <h5>Ehab Kamal</h5>
                <a href="login"><button type="button" class="btn btn-outline-primary me-2" style="margin-top: 30px;">Log out</button></a>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>User Name</h6>
                      <p class="text-muted">ehab</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted">01067602273</p>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>Specialization</h6>
                        <p class="text-muted">Surgery</p>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>Sex</h6>
                        <p class="text-muted">Male</p>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>SSN</h6>
                        <p class="text-muted">12345678912312</p>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>Birth Date</h6>
                        <p class="text-muted">12/11/2000</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}