{% extends 'home.html' %}
{% block head %}
  <link rel="stylesheet" href="../static/Alogin_home/css/style2.css">
{% endblock head %}
{% block body %}
<div class="hero" style="background-image: url('../static/Alogin_home/images/bg1.jpg');">
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                {%if data.sex=='male' and( authority == 'doctor' or authority == 'nurse')%}
                <img src="../static/Alogin_home/images/doctor.png"
                {%endif%}
                 {%if data.sex=='male' and( authority == 'admin' or authority == 'engineer')%}
                <img src="../static/Alogin_home/images/engineer.png"
                {%endif%}
         {%if data.sex=='female' and( authority == 'admin' or authority == 'engineer')%}
                <img src="../static/Alogin_home/images/fengineer.png"
                {%endif%}
                {%if data.sex=='female'and( authority == 'doctor' or authority == 'nurse')%}
                <img src="../static/Alogin_home/images/fdoctor.png"
                {%endif%}
                  alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                <h5>{{data.fname}} {{data.lname}}</h5>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>User Name</h6>
                      <p class="text-muted">{{data.username}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted">{{data.phone}}</p>
                    </div>
                       <div class="col-6 mb-3">
                        <h6>Birth Date</h6>
                        <p class="text-muted">{{data.birthdate}}</p>
                    </div>
                 
                    <div class="col-6 mb-3">
                        <h6>Sex</h6>
                        <p class="text-muted">{{data.sex}}</p>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>SSN</h6>
                        <p class="text-muted">{{data.ssn}}</p>
                    </div>
                     <div class="col-6 mb-3">
                        <h6>Salary</h6>
                        <p class="text-muted">{{data.salary}}</p>
                    </div>
                       <div class="col-6 mb-3">
                    {% if authority == 'doctor'%}
                        <h6>Specialization</h6>
                        <p class="text-muted">{{data.spec}}</p>
                        {%endif%}
                    </div>
                 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>  
{% endblock body %}
